---
import BaseHead from "../components/BaseHead.astro";
import MetaTags from "../components/MetaTags.astro";
import Fonts from "../components/Fonts.astro";
import Favicon from "../components/Favicon.astro";

import Scripts from "../components/Scripts.astro";

import "../styles/global.css"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />
    <MetaTags />
    <Fonts />
    <Favicon />
</head>
<body>
    <slot></slot>
    <Scripts />
</body>
</html>